.motto{
  
     font-family: 'Libre Baskerville', serif;
     color: rgb(41, 38, 38);
    font-weight: 800;
    font-size: 70px;
    line-height: 40px;


}
.span-color{
    color: rgb(240, 114, 24);
}
.intro{
    border-radius: 3px;
    border-left: 5px solid hotpink ;
    border-image-slice: 1 ;
    padding-left: 10px;
    
}

body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    
}
.inpirational-quotes{
    font-size: 20px;
    color:rgb(41, 38, 38);
}
.quote-button{
    text-decoration: none;
    color: white;
    font-weight: 700;
    background-color: hotpink;
    padding: 20px 40px;
    border-radius: 10px;
    
}
.quote-button-div{
  padding-top: 40px;
}
.scroll-down-text{
    padding-top: 40px;
    color:rgb(41, 38, 38);
}

.half-width{
    width: 70%;
    padding: 50px;
    margin-left: 60px;
}

.first-portion{
    display: flex;
}


.half-width img{
    width: 70%;
    padding-left: 30px;
   
}
.my-mission{
    font-family: 'DM Sans', sans-serif;
    text-align: center;
    color: rgb(3, 3, 41);
    font-size: 45px;
    font-weight: 900;
}
.year-color{
    color: rgb(240, 114, 24);
}
.mvg-div{
    display: flex;
    margin-left: 100px;
  
}

.mission img{
    width:40%;
}
#mission{
    width:25% ;
    padding: 20px;
    padding-bottom: 50px;
    text-align: justify;
    background-color: rgb(172, 185, 207);
    margin: 20px 20px;
    border-radius: 20px;
    
}
#vission{
    width:25% ;
    padding: 20px;
    padding-bottom: 50px;
    text-align: justify;
    background-color: rgb(192, 183, 183);
    margin: 20px 20px;
    border-radius: 20px;
}
#goals{
    width:25% ;
    padding: 20px;
    padding-bottom: 50px;
    text-align: justify;
    background-color: rgb(196, 233, 233);
    margin: 20px 20px;
    border-radius: 20px;
}


.limitless-development {
 display: flex;


}
.limitless-development img{
    width:30%;
    padding-top: 50px;
    padding-left : 100px;
}
.limitless-development-header{
    font-family: 'DM Sans', sans-serif;
    font-size: 55px;
    font-weight: 900;
    padding-top: 50px;
     padding-left: 100px;
}
.paragraph{
    font-family: 'Poppins', sans-serif;
    width: 70%;
    font-size: 18px;
    font-weight: 400;
    text-align: justify;
    padding-left: 100px;
   
}
.read-more-button{
    text-decoration: none;
    color: white;
    font-weight: 700;
    background-image : linear-gradient(rgb(64, 64, 207) ,rgb(96, 180, 212));
    border-radius: 5px;
    padding: 10px 20px;
}
.read-more-button-div{
    padding: 30px 100px;
}
.bg-img{
    background-image: url(images/shapes/shape-1.png );
   
    background-position-y: 100px;
    background-size:50% 50% ;
    background-repeat: no-repeat;
    padding-left: 100px;
}
.limitless-coding-sec{
    padding-left: 40px;
}
